{extend name="public/common"}
{block name="style"}
    <title>两学一做</title>
    <link rel="stylesheet" href="/home/css/learn/index.css">
    <link rel="stylesheet" href="/home/css/learn/course.css">
    <link rel="stylesheet" href="/home/css/learn/learn.css">
    <link rel="stylesheet" href="/home/css/list/graphic-list.css">
<style>
        .notice>.title{
            width: 100vw;
            font-size: 1.6rem;
            color: #333333;
            line-height: 60px;
            text-align: center;
        }
        .modal-dialog {
            width: 600px;
             margin: 0;!important;
        }
        .mui-segmented-control .mui-control-item{
            line-height: 0.88rem;
        }
        /*nomessage*/
        .default{
            text-align: center;
            position: absolute;
            height: 100vh;
            width: 100%;
        }
        .default img{
            width: 18vw;
            position:absolute;
            top:50%;
            left:50%;
            margin-top:-1.2rem;
            border-radius: 5px;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            transform:translate(-50%,-50%);
        }
        #refreshContainer{
            top:50vw;
        }
        .mui-slider-group{
            padding-bottom: 0.5rem;
        }
        .mui-pull-bottom-pocket{
            bottom: 0;
        }

    </style>
{/block}
{block name="body"}
    <!--banner-->
<div class="banner">
    <img src="/home/images/common/1.jpg" alt="建言献策banner图">
</div>
    <!--tab-->
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        <span>手机党校</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
        <span> 党员先锋</span>
    </a>
    <a class="mui-control-item" href="#item3mobile" data-index="2">
        <span> 练练身手</span>
    </a>
</div>

<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <div class="notices partyschool">
                    <div class="notice regularmore">
                        {empty name="list2"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <!--课程列表-->
                        <div class="lists">
                            <!--图文课程-->
                            {volist name="list2" id="vo"}
                            {eq name="vo.type" value="2"}
                            <a href="{:Url('Learn/article?id='.$vo['id'])}" class="list">
                                <div class="tab">图文</div>
                                {else/}
                                <a href="{:Url('Learn/video?id='.$vo['id'])}" class="list">
                                    <div class="tab">视频</div>
                                    {/eq}
                                    <img src="{$vo.front_cover|get_cover='path'}" alt="图片" class="img">
                                    <div class="title limit">{$vo.title}</div>
                                    <span class="study">{$vo.views}人阅读过</span>
                                </a>
                                {/volist}
                        </div>
                        {/empty}
                    </div>
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <div class="list pioneer">
                    {empty name="list3" }
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <ul>
                        {volist name="list3" id="ll"}
                            <a href="{:Url('Learn/detail?id='.$ll['id'])}">
                                <img src="{$ll.front_cover|get_cover='path'}">
                                <p>{$ll.title}</p>
                                <span>{$ll.publisher}</span>
                                <span>{$ll.create_time|time_format='Y-m-d'}</span>
                            </a>
                        {/volist}
                    </ul>
                    {/empty}
                </div>
            </div>
            <div id="item3mobile" class="mui-slider-item mui-control-content">
                {eq name = "check" value = "0"}
                <div class="notice activity">
                    <div class="lists">
                        {volist name="question" id="vo" key="n"}
                        <div class="list" data-tab="{$vo.id}">
                            <div class="title">{$vo.title}</div>
                            {volist name="vo->Option" id="value" key="k"}
                            <label>{if condition="($k eq 1) AND ($value neq ' ') AND ($value neq '-')"}A{elseif condition="($k eq 2) AND ($value neq ' ') AND ($value neq '-')"}B{elseif condition="($k eq 3 )AND ($value neq ' ') AND ($value neq '-')"}C{elseif condition="($k eq 4 ) AND ($value neq ' ') AND ($value neq '-')"/}D{/if}.{$value|substr=###,'2'}</label>
                            {/volist}
                            <div class="number">{$n} / 5</div>
                        </div>
                        {/volist}
                    </div>
                    {eq name='visit' value="0"}
                    <div class="submit" data-toggle="modal" data-target="#modal">确认提交</div>
                    {/eq}
                    <!--模态框-->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div>正确答案 : <span id="true1"></span></div>
                                    <div class="text-center">本次得分：<span class="score"></span> 分</div>
                                </div>
                                <div class="modal-footer">
                                    <a href="" id="link">查看详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {else/}
                <div class="notice activity">
                    <div class="lists">
                        {volist name="question" id="vo" key="n"}
                        <div class="list" data-tab="题号">
                            <div class="title" >{$vo.title}</div>
                            {volist name="vo->Option" id="value" key="k"}
                            <label {eq name="vo.right" value="$k" }class="checked" {/eq}>{$value}</label>
                            {/volist}
                            <div class="note">
                                <span class="true">正确答案：<i>{$vo->Right}</i></span>
                                <span class="number">{$n} / 5</span>
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
                {/eq}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c = 0;
    $(function(){
        //tab初始化和数据存储
        var co = getCookie("type");
        if(co == 0 || co == 1 || co == 2){
            c = co;
        }else{
            c =  0;
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    });

    window.onload = function() {
        if(c==0){
            if ($(".partyschool .lists a").length < 7) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".pioneer ul a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }
    }


    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
           if(c==0){
               var len = $(".partyschool .lists a").length;
           }else if(c==1){
               var len = $(".pioneer ul a").length;
           }
                $.ajax({
                    type:"post",
                    url: "{:Url('Learn/indexmore')}",
                    data:{
                        length:len,
                        type:c
                    },
                    beforeSend: function(XMLHttpRequest){
                    },
                    success:function(data){
                        if(data.code == 1){
                            addCourse(data,c);
                            var dataLen =data.data.length;
                            if(data.data.length == 7){
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                            }else{
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                            }
                        }else{
                            mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                        }
                    }
                })
    }
    function addCourse(data,c){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++) {
            var list = lists[i];
            if (c == 0) {
                if (list.type == 1) {
                    html +=
                            '<a href="/home/learn/video/id/' + list.id + '.html" class="list">' +
                            '<div class="tab">视频</div>'
                } else {
                    html +=
                            '<a href="/home/learn/article/id/' + list.id + '.html" class="list">' +
                            '<div class="tab">图文</div>'
                }
                html +=
                        '<img src="' + list.path + '" alt="图片" class="img">' +
                        '<div class="title limit">' + list.title + '</div>' +
                        '<span class="study">' + list.views + '人阅读过</span>' +
                        '</a>'
            }else if(c==1){
                html +=
                        '<a href="/home/learn/detail/id/' + list.id + '.html">'+
                        '<img src="'+list.path+'">'+
                        '<p>'+list.title+'</p>'+
                        '<span>'+list.publisher+'</span>'+
                        '<span>'+list.time+'</span>'+
                        '</a>'
            }
        }
        if(c==0){
            $(".regularmore .lists" ).append(html);
        }else if(c==1){
            $(".pioneer ul" ).append(html);
        }

    }


    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        c = this.getAttribute("data-index");
        mui('#refreshContainer').pullRefresh().refresh(true);
        if(c==0){
            if($(".partyschool .lists a").length< 7 ){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".pioneer ul a").length< 10 ){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }
        setCookie('type',c);
    });

    mui('#item1mobile').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    })
    mui('#item2mobile').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    })



</script>
<script>
    /**
     * 每日一课
     */
    //提交
    $(function(){
        $('body').on('tap',".submit",function(e){
            var data = [];
            $('.activity .list').each(function(){
                var id = $(this ).attr('data-tab');
                var answer = $(this ).find('.checked' ).index();
                data.push([id,answer]);
            });
//            		console.log(data);
            $.ajax({
                type:"post",
                url:"{:Url('Constitution/commit')}",
                data:{'data':data},
                success:function(data){
                    $('.score').html(data.url.score);
                    $('#true1').html('<br>1.'+data.url.right[1]+'，2.'+data.url.right[2]+'，3.'+data.url.right[3]+'，4.'+data.url.right[4]+'，5.'+data.url.right[5]);
                    $(".modal").unbind("click");
                    var link='{$request}/home/constitution/scan';
                    $('#link').attr('href',link+'/id/'+data.url.id);
                    mui('#item3mobile').on('tap', '.link', function(e) {
                        var url = this.getAttribute("href");
                        window.location.href = url;
                    })
                }
            });
        });

    })
</script>
<!--当日已经答题就不能选中lable-->
{eq name = "check" value = "0"}
<script>
    //选中样式变化
    $(function() {
        $('#item3mobile').on('tap',"label",function (e) {
            var it = $(this);
            it.addClass('checked');
            it.siblings('label').removeClass('checked');
        });
    });

    window.onpageshow = function (e) {
            if (e.persisted) {
                window.location.reload(true);
            }
    }
</script>
{/eq}
{/block}