{extend name="public/common"}
{block name="style"}
    <title>红色足迹</title>
    <link rel="stylesheet" href="/home/css/news/index.css">
    <link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
{/block}
{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
    <!--banner-->
    <div class="banners">
        <div class="swiper-container">
            <div class="imgs swiper-wrapper">
                {volist name="lists" id="ls"}
                <div class="banner swiper-slide">
                    <a href="{:Url('Details/index?id='.$ls['id'])}">
                        <img src="{$ls.front_cover|get_cover='path'}" alt="">
                        <div class="title_ limit">{$ls.title}</div>
                    </a>
                </div>
                {/volist}
            </div>
        </div>
    </div>

<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item mui-active" href="#item1mobile" data-index="0">
        新闻发布
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
       活动情况
    </a>
    <a class="mui-control-item" href="#item3mobile" data-index=2">
        发展历程
    </a>
</div>

<div class="mui-slider-group">
    <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
        <!--新闻发布-->
        <div class="notices">
            <div class="notice party">
                {volist name="list" id="loo"}
                <a href="{:Url('Details/index?id='.$loo['id'])}" class="list clear">
                    <div class="fl">
                        {eq name="$loo.front_cover" value=""}
                        <img src="/home/images/banner/2.jpg" alt="图片">
                        {else/}
                        <img src="{$loo.front_cover|get_cover='path'}" alt="图片">
                        {/eq}
                    </div>
                    <div class="fr right">
                        <div class="title limit_">{$loo.title}</div>
                        <div class="clear time">
                            <span class="fl">{$loo.publisher}</span>
                            <span class="fr">{$loo.create_time|time_format='Y-m-d'}</span>
                        </div>
                    </div>
                </a>
                {/volist}
            </div>
        </div>
    </div>
    <div id="item2mobile" class="mui-slider-item mui-control-content">
        <!--活动情况-->
        <div class="notices">
            <div class="notice activity">
                {volist name="lists" id="loo"}
                <a href="{:Url('Details/index?id='.$loo['id'])}" class="list clear">
                    <div class="fl">
                        {eq name="$loo.front_cover" value=""}
                        <img src="/home/images/banner/2.jpg" alt="图片">
                        {else/}
                        <img src="{$loo.front_cover|get_cover='path'}" alt="图片">
                        {/eq}
                    </div>
                    <div class="fr right">
                        <div class="title limit_">{$loo.title}</div>
                        <div class="clear time">
                            <span class="fl">{$loo.publisher}</span>
                            <span class="fr">{$loo.create_time|time_format='Y-m-d'}</span>
                        </div>
                    </div>
                </a>
                {/volist}
            </div>
        </div>
        </div>
        <div id="item3mobile" class="mui-slider-item mui-control-content">
            <div class="notices">
                <div class="lists">
                    <a href="" class="list">
                        <div class="title limit_">ffffffggggggggggggggggggggggggg</div>
                        <div class="note clear">
                            <span class="fl depart">工委宣传部</span>
                            <span class="time fr">2017-8-8</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
</div>
</div>
    </div>
    <!--线上发布-->
    {eq name="visit" value="0"}
    <a id="publish" href="/home/news/publish.html"></a>
    {/eq}
{/block}
{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var type = 0;
  $(function(){
      //轮播
      var mySwiper = new Swiper('.swiper-container', {
          autoplay: 3000,
          loop:true,
          autoplayDisableOnInteraction:false
      });
      //悬浮框移动
      {eq name="visit" value="0"}
      moveanyway();
      {/eq}
  });

  window.onload = function(){
      if($(".party a").length<7){
          mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
      }else{
          mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
      }
  }
    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

   //上拉加载更多
  function loadScroll(){
      if(type==0){
          var len = $(".party a").length;
      }else if(type==1){
          var len = $(".activity a").length;
      }
              $.ajax({
                  type:"post",
                  url: "{:Url('News/listmore')}",
                  data:{
                      length:len
                  },
                  beforeSend: function(XMLHttpRequest){

                  },
                  success:function(data){
                      if(data.code == 1){
                          addLists(data,type);
                          var dataLen =data.data.length;
                          if(data.data.length == 5){
                              mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                          }else{
                              mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                          }
                      }else{
                          mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                      }
                  }
              })
  }
   //数据循环
  function addLists(data,type){
      var type;
      var html = '';
      var lists = data.data;
      var len = lists.length;
      for(var i = 0; i< len;i++){
          var list = lists[i];
          if(list.path  == ''){
              list.path = '/home/images/banner/2.jpg';
          };
          html +=
                  '<a href="/home/details/index/id/'+ list.id+'.html" class="list clear">'+
                  '<div class="fl">'+
                  '<img src="'+list.path+'" alt="图片">'+
                  '</div>'+
                  '<div class="fr right">'+
                  '<div class="title limit_">'+list.title+'</div>'+
                  '<div class="clear time">'+
                  '<span class="fl">'+list.publisher+'</span>'+
                  '<span class="fr">'+list.time+'</span>'+
                  '</div>'+
                  '</div>'+
                  '</a>'
      }
      if(type==0){
          $('.party').append(html);
      }else if(type==1){
          $('.activity').append(html);
      }
  }
   //悬浮框移动
  function moveanyway(){
        var oW,oH,touch_start,touch_end;
        var block = document.getElementById("publish");
        block.addEventListener("touchstart", function(e) {
            var touches = e.touches[0];
            touch_start = touches.clientX;
            oW = touches.clientX - block.offsetLeft;
            oH = touches.clientY - block.offsetTop;
            //阻止页面的滑动默认事件
            document.addEventListener("touchmove",defaultEvent,false);
        },false);
        block.addEventListener("touchmove", function(e) {
            var touches = e.touches[0];
            var oLeft = touches.clientX - oW;
            var oTop = touches.clientY - oH;
            touch_end = touches.clientX;
            if(oLeft < 0) {
                oLeft = 0;
            }else if(oLeft > document.documentElement.clientWidth - block.offsetWidth) {
                oLeft = (document.documentElement.clientWidth - block.offsetWidth);
            }
            if(oTop < 0) {
                oTop = 0;
            }else if(oTop > document.documentElement.clientHeight - block.offsetHeight) {
                oTop = (document.documentElement.clientHeight - block.offsetHeight);
            }
            block.style.left = oLeft+ "px";
            block.style.top = oTop + "px";
            e.preventDefault();
        },false);
        block.addEventListener("touchend",function() {
            document.removeEventListener("touchmove",defaultEvent,false);
            if(touch_start != touch_end && touch_end){
                var d = document.documentElement.clientWidth - block.offsetWidth;
                if(block.offsetLeft<(document.documentElement.clientWidth - block.offsetWidth)/2) {
                    d = 0 ;
                }
                $(block).animate({
                    left:d+'px'
                },300)
            }
        },false);
        function defaultEvent(e) {
            e.preventDefault();
        }
    }

  //tab点击事件
  mui('#tab').on('tap', 'a', function(e) {
      type = this.getAttribute("data-index");
      mui('#refreshContainer').pullRefresh().refresh(true);
      if(type==0){
          if($(".party a").length<7){
              mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
          }else{
              mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
          }
      }else if(type==2){
          if($(".activity a").length<7){
              mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
          }else{
              mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
          }
      }
  });

  mui('.banner').on('tap', 'a', function(e) {
      var url = this.getAttribute("href");
      window.location.href = url;
  });

  mui('#item1mobile').on('tap', 'a', function(e) {
      var url = this.getAttribute("href");
      window.location.href = url;
  });

</script>
{/block}