{extend name="public/pure"}
{block name="style"}
<title>金清镇党建</title>
<style>
    body{
        background: url("/home/images/verify/bg.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh!important;
    }
    .imgs{
        text-align: center;
        padding-top: 20%;
    }
    .imgs img{
        width: 24vw;
    }
    .imgs p{
        font-size: 0.6rem;
        color: #ff4848;
        margin-top: 15px;
    }
    .content{
        text-align: center;
    }
    .content .phone{
        width:40%;
        display: inline-block;
    }
    .content input{
        padding: 0;
        margin-bottom: 0;
        height: 1.06rem;
        border: none;
        padding-top: 0.3rem;
        font-size:0.42rem;
    }
    input::-webkit-input-placeholder{
        font-size:0.42rem;
        color: #dbdbdb;
    }
    .content .phone:after{
        display: block;
        content: '';
        border: 1px dashed #cecece;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(.5,.5);
         transform: scale(.5,.5);
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
         width: 98%;
        width: 200%;
    }
    .content div img{
        width: 6.2vw;
        height: 7.3vw;
        position: relative;
        top: 0.23rem;
        left: -0.2rem;
    }
    .login{
        width: 55%;
        height: 0.93rem;
        background: #ff4848;
        border-radius: 35px;
        margin: 0 auto;
        line-height: 0.93rem;
        color: #fff;
        font-size: 0.48rem;
        margin-top: 10vw;
    }
    .visitor{
        margin-top: 5vw;
        display: inline-block;
        font-size:0.4rem;
        color: #dbdbdb;
        padding-right: 0.1rem;
    }
</style>
{/block}
{block name="body"}
<div class="imgs">
    <img src="/home/images/verify/bgicon.png">
    <p>金清镇党建平台</p>
</div>
<div class="content">
    <div style="margin-top: 20vw">
    <img src="/home/images/verify/user.png">
    <div class="phone">
        <input type="text" placeholder="请输入手机号" maxlength="11" id="phone">
    </div>
    </div>
<div class="login">登&emsp;录</div>
    <div class="visitor">游客访问入口</div>
    <img src="/home/images/verify/loginentrance.png" style="width: 0.5rem;position: relative;top: 0.01rem;">
</div>

{/block}
{block name="script"}
<script src="/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $(function() {
        $('.login').on("click", function () {
            login()
        });
    });

    /**登陆**/
    function login(){
        var re=reg();
        var uid=$('#phone').val();
        if(re==true){
            $.ajax({
                url: "{:Url('Verify/login')}",
                type: 'post',
                data: {
                    user: uid
                },
                success:function(data){
                    //data.code  1为成功 0为失败
                    if(data.code == 1){
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'success',
                            confirmButtonText:'确定'
                        });
                        var url = data.url;
                        //如果没有session的Url就默认跳首页
                        if(!url) {
                            url = '/home/index/index';
                        }
                        setTimeout(function(){
                            window.location.replace(url);
                        },1000);
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            confirmButtonText:'确定'
                        });
                    }
                }
            })
        }else{
            swal({
                title: ' ',
                text: re,
                type: 'error',
                confirmButtonText:'确定'
            });
        }
    }
    /**表单验证**/
    function reg(){
        var uid=$('#phone').val();
        if(uid==''||uid==null){
            return "请输入您的手机号码";
        }else{
//            var myreg = / ^1(3|4|5|7|8)[0-9]\d{8}$ /;
            if(uid.length<11)
            {
                return '请输入有效的手机号码！';
            }else{
                return true
            }
        }
    }


    $(".visitor").click(function(){
        window.location.href = "{:Url('Verify/tourist')}";
    })
</script>
{/block}