{extend name="public/common"}

{block name="style"}
<title>信息驿站</title>
<style>
    html,body{
        height:100%;
    }
    /*tab*/
    #tab {
        width: 100vw;
        height: 0.88rem;
        padding: 0.16rem 0;
        background: #f1f1f1;
        z-index:99;
    }
    #tab a{
        display: inline-block;
        width: 49vw;
        height: 100%;
        color: #333333;
        font-size:0.3rem;
        line-height: 0.56rem;
        text-align: center;
    }
    #tabs a:first-child {
        border-right: 1px solid #e5e5e5;
    }
    .mui-control-item.mui-active{
        color: #fd6743!important;
    }
    a:active{
        background: none;
    }
    .mui-slider-item.mui-control-content{
        display: none;
    }
    .mui-slider-item.mui-control-content.mui-active{
        display: block;
    }
    .notice,.dynamic{
        padding-bottom: 0.5rem;
        padding-top: 0.9rem;
        overflow-y: scroll;
    }

    /*学习资料*/
    .notice .list{
        display: block;
        width: 100%;
        height: 1.8rem;
        padding-left: 0.26rem;
        padding-right: 0.26rem;
        border-bottom: 1px solid #dddddd;
        clear: both;

    }
    .list img{
        width: 1.8rem;
        height: 1.2rem;
        margin-top: 0.4rem;
    }
    .list .lr{
        width: calc(100% - 1.8rem);
        padding-left: 0.1rem;
    }
    .list .lr .title{
        width: 100%;
        height:0.76rem;
        font-size: 0.28rem;
        margin-top: 0.3rem;
        margin-bottom: 0.16rem;
        color:#333;
    }
    .list .lr .clear{
        font-size: 0.24rem;
        color:#999;
        margin-top: 0.25rem;
    }
 /*通知公告*/
    .dynamic .list{
        display: block;
        width: 100%;
        padding-left: 0.26rem;
        padding-right: 0.26rem;
        border-bottom: 1px solid #dddddd;
    }
    .dynamic .lists .list .title{
        width: 100%;
        height:0.76rem;
        font-size: 0.28rem;
        margin-top: 0.3rem;
        margin-bottom: 0.16rem;
        color:#333;
    }
    .list .note {
        margin-top: 0.12rem;
        font-size: 0.24rem;
        color: #999;
        margin-bottom: 0.12rem;
    }
</style>
{/block}

{block name="body"}
<!--tab-->
        <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item" href="#item1mobile" data-index="0">
                学习资料
            </a>
            <a class="mui-control-item" href="#item2mobile" data-index="1">
                通知公告
            </a>
        </div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <!--学习资料-->
                <div class="notice">
                    {empty name="list"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists">
                        {volist name="list" id="fno"}
                        <a class="list clear" href="{:Url('College/forumnotice?id='.$fno['id'])}">
                            <div class="fl">
                                <img src="{$fno['front_cover']}" alt="">
                            </div>
                            <div class="fr lr">
                                <div class="title limit_">{$fno['title']}</div>
                                <div class="clear">
                                    <span class="fl">{$fno['create_time']}</span>
                                    <span class="fr">详情</span>
                                </div>
                            </div>
                        </a>
                        {/volist}
                    </div>
                    {/empty}
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <div class="notices dynamic">
                    {empty name="fnotice"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists">
                        {volist name="fnotice" id="ff"}
                        <a href="{:Url('College/forumnotice?id='.$ff['id'])}" class="list">
                            <div class="title limit_">{$ff.title}</div>
                            <div class="note clear">
                                <span class="fl depart">{$ff.publisher}</span>
                                <span class="time fr">{$ff.create_time}</span>
                            </div>
                        </a>
                        {/volist}
                    </div>
                    {/empty}
                </div>
            </div>
        </div>
</div>
    </div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    //模块标题
    var type=0;
    var c =  parseInt(window.location.href.split("index/c/")[1]);
    $('title').text('信息驿站');
window.onload = function(){
    if(c==0){
        if($(".notice .lists .list").length<10){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else{
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }else if(c==1){
        if($(".dynamic .lists .list").length<10){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else{
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }

}
$(function(){
    //tab初始化和数据存储
    var co = getCookie("type");
    if(co == 0 || co == 1 || co == 2){
        c = co;
    }
    $("#tab a").eq(c).addClass('mui-active');
    $(".mui-slider-group>div").eq(c).addClass('mui-active');
})

    function loadScroll(){
        if(c==0){
            var len = $(".notice .lists .list").length;
        }else if(c==1){
            var len = $(".dynamic .lists .list").length;
        }
                $.ajax({
                    type:"post",
                    url:"{:Url('College/leadlistmore')}",
                    data:{
                        length:len,
                        type:c
                    },
                    beforeSend: function(XMLHttpRequest){

                    },
                    success:function(data){
                        if(data.code == 1){
                            addMeets(data,c);
                            var dataLen =data.data.length;
                            if(data.data.length == 10){
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                            }else{
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                            }
                        }else{
                            mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                        }
                    }
                })
            }
    function addMeets(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(type==0){
              html+=
                      '<a class="list clear" href="/home/college/forumnotice/id/'+ list.id+'.html">'+
                      '  <div class="fl">'+
                      '      <img src="'+list.front_cover+'" alt="">'+
                      '  </div>'+
                      '   <div class="fr lr">'+
                      '      <div class="title limit_">'+list.title+'</div>'+
                      '         <div class="clear">'+
                      '             <span class="fl">'+list.create_time+'</span>'+
                      '             <span class="fr">详情</span>'+
                      '          </div>'+
                      '    </div>'+
                      '</a>'
            }
            if(type==1){
                html+=
                        ' <a href="/home/college/forumnotice/id/'+ list.id+'.html" class="list">'+
                        '  <div class="title limit_">'+list.title+'</div>'+
                        '     <div class="note clear">'+
                        '         <span class="fl depart">'+list.publisher+'</span>'+
                        '         <span class="time fr">'+list.create_time+'</span>'+
                        '     </div>'+
                        '</a>';
            }
        }
        if(type==0){
            $(".notice .lists" ).append(html);
        }else if(type==1){
            $(".dynamic .lists" ).append(html);
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        $(".mui-scroll").css("transform","translate3d(0px, 0px, 0px) translateZ(0px)");
        c = this.getAttribute("data-index");
        mui('#refreshContainer').pullRefresh().refresh(true);
        if(c==0){
            if($(".notice .lists .list").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".dynamic .lists a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie('type',c);
    });

    mui('.mui-slider-group').on('tap', 'a', function() {
        var id = this.getAttribute('href');
        window.location.href=id;
    });
</script>
{/block}