{extend name="public/common"}

{block name="style"}
<style>
    /*tab*/
    #tab {
        width: 100vw;
        height: 0.88rem;
        padding: 0.16rem 0;
        background: #f1f1f1;
    }
    #tab a{
        display: inline-block;
        width: 49vw;
        height: 100%;
        color: #333333;
        font-size:0.3rem;
        line-height: 0.56rem;
        text-align: center;
    }
    #tabs a:first-child {
        border-right: 1px solid #e5e5e5;
    }
    .mui-control-item.mui-active{
        color: #fd6743!important;
    }
    a:active{
        background: none;
    }
    .mui-slider-item.mui-control-content{
        display: none;
    }
    .mui-slider-item.mui-control-content.mui-active{
        display: block;
    }

    /*学习资料*/
    .notice .list{
        display: block;
        width: 100%;
        height: 1.8rem;
        padding-left: 0.26rem;
        padding-right: 0.26rem;
        border-bottom: 1px solid #dddddd;
    }
    .list img{
        width: 1.8rem;
        height: 1.2rem;
        margin-top: 0.4rem;
    }
    .list .lr{
        width: calc(100% - 1.8rem);
        padding-left: 0.1rem;
    }
    .list .lr .title{
        width: 100%;
        height:0.76rem;
        font-size: 0.28rem;
        margin-top: 0.3rem;
        margin-bottom: 0.16rem;
        color:#333;
    }
    .list .lr .clear{
        font-size: 0.24rem;
        color:#999;
        margin-top: 0.25rem;
    }
 /*通知公告*/
    .dynamic .list{
        display: block;
        width: 100%;
        padding-left: 0.26rem;
        padding-right: 0.26rem;
        border-bottom: 1px solid #dddddd;
    }
    .dynamic .lists .list .title{
        width: 100%;
        height:0.76rem;
        font-size: 0.28rem;
        margin-top: 0.3rem;
        margin-bottom: 0.16rem;
        color:#333;
    }
    .list .note {
        margin-top: 0.12rem;
        font-size: 0.24rem;
        color: #999;
        margin-bottom: 0.12rem;
    }
</style>
{/block}

{block name="body"}
<!--tab-->
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item mui-active" href="#item1mobile" data-index="0">
                学习资料
            </a>
            <a class="mui-control-item" href="#item2mobile" data-index="1">
                通知公告
            </a>
        </div>



        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                <!--学习资料-->
                <div class="notice">

                    <!--<div class="default"><img src="/home/images/notice/nomessage.png" alt="暂无消息"> </div>-->

                    <div class="lists">
                        {volist name="fnotice" id="fno"}
                        <a class="list clear" href="{:Url('College/forumnotice?id='.$fno['id'])}">
                            <div class="fl">
                                <img src="" alt="">
                            </div>
                            <div class="fr lr">
                                <div class="title limit_">{$fno['title']}</div>
                                <div class="clear">
                                    <span class="fl">{$fno['create_time']|time_format='Y-m-d'}</span>
                                    <span class="fr">详情</span>
                                </div>
                            </div>
                        </a>
                        {/volist}
                    </div>
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <div class="notices dynamic">
                    <div class="lists">
                        <a href="" class="list">
                            <div class="title limit_">的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多</div>
                            <div class="note clear">
                                <span class="fl depart">工委宣传部</span>
                                <span class="time fr">2017-8-8</span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
{/block}

{block name="script"}
<script>
    //模块标题
    var type=0;
    $('title').text('信息驿站');
window.onload = function(){
    if($(".notice .lists .list").length<12){
        mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
    }else{
        mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
    }
}


    function loadScroll(){
        if(type==0){
            var len = $(".notice .lists .list").length;
        }else if(type==2){
            var len = $(".dynamic .lists .list").length;
        }
                $.ajax({
                    type:"post",
                    url:"{:Url('College/leadlistmore')}",
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){

                    },
                    success:function(data){
                        if(data.code == 1){
                            addMeets(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){

                            }
                        }else{
                            mui('#refreshContainer').endPullupToRefresh(true);
                        }
                    }
                })
            }
    function addMeets(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(type==0){
              html+=
                      '<a class="list clear" href="/home/college/forumnotice/id/'+ list.id+'.html">'+
                      '  <div class="fl">'+
                      '      <img src="" alt="">'+
                      '  </div>'+
                      '   <div class="fr lr">'+
                      '      <div class="title limit_">'+list.title+'</div>'+
                      '         <div class="clear">'+
                      '             <span class="fl">'+list.time+'</span>'+
                      '             <span class="fr">详情</span>'+
                      '          </div>'+
                      '    </div>'+
                      '</a>'
            }
            if(type==1){
                html+=
                        ' <a href="" class="list">'+
                        '  <div class="title limit_">的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多</div>'+
                        '     <div class="note clear">'+
                        '         <span class="fl depart">工委宣传部</span>'+
                        '         <span class="time fr">2017-8-8</span>'+
                        '     </div>'+
                        '</a>';
            }
        }
        if(type==0){
            $(".notice a" ).append(html);
        }else if(type==1){
            $(".dynamic li" ).append(html);
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        type = this.getAttribute("data-index");
        mui('#refreshContainer').pullRefresh().refresh(true);
    })

    mui('.mui-slider-group').on('tap', 'a', function() {
        var id = this.getAttribute('href');
        window.location.href=id;
    });
</script>
{/block}