/*banner*/
.banner{
    position: relative;
    width: 100%;
    height: 50vw;
}
.banner img{
    width: 100%;
    height: 50vw;
}
.banner .title_{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.8rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 0.8rem;
    font-size: 0.32rem;
    color: #fff;
}

/*tab*/
#tab {
    width: 100vw;
    height: 0.88rem;
    padding: 0.16rem 0;
    background: #f1f1f1;
}
#tab a{
    display: inline-block;
    width: 33vw;
    height: 100%;
    color: #333333;
    font-size:0.3rem;
    line-height: 0.56rem;
    text-align: center;
}
a:active{
    background: none;
}
/*列表修改*/
.mui-slider-item .notices .notice .list {
    display: block;
    width: 100%;
    padding-left:0.2rem;
    padding-right: 0.2rem;
    border-bottom: 1px solid #f1f1f1;
    color: #666;
}
.mui-slider-item .notices .notice .list .fl img {
    width: 1.6rem;
    height:1.2rem;
    margin-top:0.3rem;
}
.mui-slider-item .notices .notice .list .right {
    width: calc(100% - 2rem);
    height: 1.2rem;
    margin-top: 0.3rem;
    margin-left:0.3rem;
    margin-bottom: 0.3rem;
    position: relative;
}
.mui-slider-item .notices .notice .list .right .title {
    float: left;
    color: #111;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.3rem;
    width: 100%;
}
.mui-slider-item .notices .notice .list .title {
    color: #333333;
    font-size:0.28rem;
}
.mui-slider-item .notices .notice .list .time {
    display: block;
    width: 100%;
    font-size: 0.24rem;
    color: #999;
    position: absolute;
    bottom: 0;
}