{extend name="public/common"}
{block name="style"}
    <title>活动发起</title>
    <link rel="stylesheet" href="/home/css/activity/index.css">
    <style>
        a:active{background: none;}
        .notice>.title{
            width: 100vw;
            font-size: 1.6rem;
            color: #333333;
            line-height: 60px;
            text-align: center;
        }
        #publish {
            position: fixed;
            right: 5.3vw;
            bottom: 20.6vw;
            width: 1.2rem;
            height: 1.2rem;
            background: url(/home/images/feedback/note.png) no-repeat;
            background-size: 100% 100%;
            z-index: 99;
            display: none;
        }
        .mui-fullscreen{
            opacity: 0.95;
        }
    </style>
{/block}
{block name="body"}
    <!--tab-->
        <div class="banners">
            <img src="/home/images/banner/1.jpg" class="banner">
        </div>
        <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item" href="#item1mobile" data-index="0">
                活动列表
            </a>
            <a class="mui-control-item" href="#item2mobile" data-index="1">
                活动报道
            </a>
            <a class="mui-control-item" href="#item3mobile" data-index="2">
                发起投票
            </a>
        </div>

<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <!--活动列表-->
                <div class="notices">
                    <div class="notice regularmore">
                        {empty name="list"}
                        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                        {else/}
                        <div class="lists">
                            <ul>
                                {volist name="list" id="lo"}
                                <a class="clear"  href="{:Url('Activity/activitydetails?id='.$lo['id'])}">
                                    <p>{$lo.title}</p>
                                    <span>{$lo.description}</span>
                                    <span class="lists time">{$lo.create_time|time_format='Y-m-d'}</span>
                                    <i>进入认领<img src="/home/images/activity/arrow.png"></i>
                                </a>
                                {/volist}
                            </ul>
                        </div>
                        {/empty}
                    </div>
                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <!--活动报道-->
                <div class="notice reported">
                    {empty name="report"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists">
                        {volist name="report" id="ro"}
                        <a class="list clear" href="{:Url('Activity/detail?id='.$ro['id'])}">
                            <div class="fl">
                                <img src="{$ro.front_cover|get_cover='path'}" alt="">
                            </div>
                            <div class="fr lr">
                                <div class="title limit_">{$ro.title}</div>
                                <div class="clear">
                                    <span class="fl publisher">{$ro.publisher}</span>
                                    <span class="fr">{$ro.create_time|time_format='Y-m-d'}</span>
                                </div>
                            </div>
                        </a>
                        {/volist}
                    </div>
                    {/empty}
                </div>
        </div>

            <div id="item3mobile" class="mui-slider-item mui-control-content">

                <!--发起投票-->
                <div class="notices" style="padding-bottom: 1rem">
                    {empty name="lists"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists votes">
                        <ul>
                            {volist name="lists" id="los"}
                            <li>
                                <img src="{$los.head}">
                                <p>{$los.publisher}</p>
                                <div class="opinion">
                                    {switch name="los.is_like"}{case value="0"}
                                    <i class="disagree disagreeclick"  data-id="{$los.id}" data-type="2"></i>
                                    <span>{$los.likes_no}</span>
                                    <i class="agree agreeclick"  data-id="{$los.id}" data-type="1"></i>
                                    <span>{$los.likes_yes}</span>{/case}{case value="1"}
                                    <i class="agree_" ></i>
                                    <span>{$los.likes_yes}</span>
                                    <i class="disagree"></i>
                                    <span>{$los.likes_no}</span>
                                    {/case}{case value="2"}
                                    <i class="agree" ></i>
                                    <span>{$los.likes_yes}</span>
                                    <i class="disagree_"></i>
                                    <span>{$los.likes_no}</span>
                                    {/case}
                                    {default /}default
                                    {/switch}

                                </div>
                                <span>{$los.content}</span>
                                <div class="imgs">
                                    {volist name="los.images" id="img"}
                                    <div class="img">
                                        <img src="{$img|get_cover='path'}" alt="评论图"  data-preview-src="" data-preview-group="{$los.id}">
                                    </div>
                                    {/volist}
                                </div>
                                <span class="votes-time">{$los.department}/{$los.create_time|time_format='Y-m-d'}发布</span>
                                <i class="comment-icon" onclick="tosend(this,{$los.id})" data-id='{$los.id}'></i>

                                <ul class="comments">
                                    {volist name="los.comment" id="co"}
                                    <li>
                                        <span class="name">{$co.nickname}：</span>
                                        <span class="comment">{$co.content}</span>
                                    </li>
                                    {/volist}
                                </ul>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    {/empty}
                </div>
            </div>
        </div>
</div>
    </div>
<!--线上活动发布-->
<a id="publish" href="{:Url('Activity/publish')}"></a>
<div class="bottom clear">
    <div class="myword fl">
        <input type="text" placeholder="说说你的感想！">
    </div>
    <div class="send fr" onclick="send(this)">发送</div>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script type="text/javascript" src="/home/js/mui.zoom.js"></script>
<script type="text/javascript" src="/home/js/mui.previewimage.js"></script>
<script>
    var c =  parseInt(window.location.href.split("index/c/")[1]);
    $(function(){
        setTimeout(function(){
            var height1 = $(".banners").height();
            var height2 = $("#tab").height();
            $("#tab").css("top",height1);
            $("#refreshContainer").css("top",height1+height2+20);
        },0)
        //tab初始化和数据存储
        var co = getCookie("type");
        if(co == 0 || co == 1 || co == 2){
            c = co;
        }else{
            c =  parseInt(window.location.href.split("index/c/")[1]);
        }
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');

        //悬浮框移动
        moveanyway();
        mui('#__MUI_PREVIEWIMAGE').on('tap', '.mui-slider-group', function(e) {
            mui.previewImage().dispose();
        })
    });
window.onload = function(){
    var previewImage = mui.previewImage();
 if(c==0){
     $("#publish").hide();
     $(".bottom").hide();
     if($(".regularmore .lists a").length<7){
         mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
     }else{
         mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
     }
 }else if(c==1){
     $("#publish").hide();
     $(".bottom").hide();
     if($(".reported .lists a").length<7){
         mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
     }else{
         mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
     }
 }else if(c==2){
     $("#publish").show();
     $(".bottom").show();
     if($(".votes>ul>li").length<5){
         mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
     }else{
         mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
     }
 }
}
    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    mui('#tab').on('tap', 'a', function(e) {
        $(".mui-scroll").css("transform","translate3d(0px, 0px, 0px) translateZ(0px)");
        c = this.getAttribute("data-index");
        mui('#refreshContainer').pullRefresh().refresh(true);
        if(c==0){
            $("#publish").hide();
            $(".bottom").hide();
            if($(".regularmore .lists a").length<7){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            $("#publish").hide();
            $(".bottom").hide();
            if($(".reported .lists a").length<7){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==2){
            $("#publish").show();
            $(".bottom").show();
            if($(".votes>ul>li").length<5){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie('type',c);
    });

    mui('#item1mobile').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    })
    mui('#item2mobile').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    })

    mui('body').on('tap', '#publish', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    })

    mui('#item3mobile').on('tap', '.imgs img', function(e) {
       $(".mui-fullscreen").css({"z-index":999,"background-color":"#444"});
    })

    mui('#item3mobile').on('tap', '.agreeclick',  function(e) {
        var id = this.getAttribute("data-id");
        var type = this.getAttribute("data-type");
        agree(this,id,type)
    })

    mui('#item3mobile').on('tap', '.disagreeclick',  function(e) {
        var id = this.getAttribute("data-id");
        var type = this.getAttribute("data-type");
        disagree(this,id,type)
    })

    mui('#item3mobile').on('tap', '.comment-icon',  function(e) {
        var id = this.getAttribute("data-id");
        tosend(this,id);
        e.stopPropagation();
    });

    mui('body').on('tap', '.mui-slider-item.mui-zoom-wrapper.mui-active',  function(e) {
        mui.previewImage().close();
        $(".mui-fullscreen").css({"z-index":0,"background-color":"none"});
    });

    mui('body').on('tap', '#tab',  function(e) {
        $('.bottom' ).animate({'bottom':'-12vw'},500,'swing');
        $('.myword input' ).val('');
    });
    mui('body').on('tap', '.lists',  function(e) {
        $('.bottom' ).animate({'bottom':'-12vw'},500,'swing');
        $('.myword input' ).val('');
    });
    function loadScroll(){
            if(c==0){
                var len =$(".regularmore .lists a").length;
            }
            if(c == 1){
                var len = $(".reported .lists a").length;
            }
            if(c== 2 ){
                var len = $(".votes ul li").length;
            }
                $.ajax({
                    type:"post",
                    url: "{:Url('Activity/morelist')}",
                    data:{
                        length:len,
                        type:c
                    },
                    beforeSend: function(XMLHttpRequest){
                    },
                    success:function(data){
                        if(data.code == 1){
                            addCourse(data,c);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                                loadScroll();
                            }else{
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                            }
                        }else{
                            mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                        }
                    }
                })
    }
    function addCourse(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if (type == 0) {
                html +=
                    '<a class="clear" href="/home/activity/activitydetails/id/'+list.id+'">'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.description+'</span>'+
                    '<span class="lists time">'+list.time+'</span>'+
                    '<i >进入认领<img src="/home/images/activity/arrow.png"></i>'+
                    '</a>';
            } else if(type==1) {
                html +=
                        '<a class="list clear" href="/home/activity/detail/id/'+list.id+'">' +
                        '<div class="fl">' +
                        '<img src="'+list.front_cover+'" alt="图片">' +
                        '</div>' +
                        '<div class="fr lr">' +
                        '<div class="title limit_">'+list.title+'</div>' +
                        '<div class="clear">' +
                        '<span class="fl">'+list.publisher+'</span>' +
                        '<span class="fr">'+list.time+'</span>' +
                        '</div>' +
                        '</div>' +
                        '</a>';
            } else if(type==2){
                html +=
                    '<li>' +
                    '<img src="'+list.head+'">' +
                    '<p>'+list.publisher+'</p>' +
                    '<div class="opinion">'
                switch (list.is_like){
                    case 0:
                        html+='	<i class="agree agreeclick" onclick="agree(this,'+list.id+',1)" data-id='+list.id+'data-type="1"></i>' +
                                '	<span>'+list.likes_yes+'</span>' +
                                '	<i class="disagree disagreeclick" onclick="disagree(this,'+list.id+',2)" data-id='+list.id+'data-type="2"></i><span>'+list.likes_no+'</span>'
                        break;
                    case 1:
                        html+='	<i class="agree_"></i>' +
                                '	<span>'+list.likes_yes+'</span>' +
                                '	<i class="disagree" "></i><span>'+list.likes_no+'</span>'
                        break;
                    case 2:
                        html+='	<i class="agree" ></i>' +
                                '	<span>'+list.likes_yes+'</span>' +
                                '	<i class="disagree_" ></i><span>'+list.likes_no+'</span>'
                        break;
                }
                     html+= '</div>'+
                    '<span>'+list.content+'</span>' +
                    '<div class="imgs">'
                var imglen = list.images.length;
                for(var j = 0 ;j<imglen ;j++){
                    html+='	<div class="img">' +
                            '		<img src="'+list.images[j]+'" alt="评论图" data-preview-src="" data-preview-group="'+list.id+'">' +
                            '	</div>' ;
                }
                   html+= '</div>' +
                    '<span class="votes-time">'+list.department+'/'+list.create_time+'发布</span>' +
                    '<i class="comment-icon" onclick="tosend(this,'+list.id+')" data-id='+list.id+'></i>'

                var commentlen = list.comment.length;
                if(commentlen)
                {
                    html += '<ul class="comments ">'
                    for(var x = 0 ;x <commentlen ;x++){
                        html+=
                                '<li>'+
                                '<span class="name">'+list.comment[x].nickname+'：</span>'+
                                '<span class="comment">'+list.comment[x].content+'</span>'+
                                '</li>'
                    }
                    html+='</ul>'
                }
                html+= '</li>';
            }
        }
        if(type==0){
            $(".regularmore .lists ul").append(html);
        } else if(type==1){
            $(".reported .lists").append(html);
        }else if(type==2){
            $(".votes>ul").append(html);
        }
        //图片裁剪
        imgresize();
    }



    var tosend = function(e,id){
        var index = $(e).parents('.votes ul li' ).index();
        $('.banner,.lists' ).off('click');
        $('.bottom' ).animate({'bottom':'0'},500,'swing',function(){
            $('.tabs,.lists' ).off('click').one('click',function(){
                $('.bottom' ).animate({'bottom':'-12vw'},500,'swing');
                $('.myword input' ).val('');
            })
        }).attr('data-tab',index);
       $('.send' ).attr('data-tab',id);
    };

    //发送评论
    var send = function(e){
        var it = $(e ).prev().find('input');
        var index = $('.bottom' ).attr('data-tab');
        if(it.val() != ''){
            $.ajax({
                type:"post",
                url:"{:Url('Base/comment')}",
                data:{
                    type : 6,
                    aid:$('.send' ).attr('data-tab'),
                    content:it.val()
                },
                success:function(msg){
                    var data = msg.data;
                    var html = '';
                    html +=
                        '<li>'+
                        '<span class="name">'+data.nickname+'：</span>'+
                        '<span class="comment">'+data.content+'</span>'+
                        '</li>';

                    $('.votes>ul').children("li").eq(index).find('.comments').removeClass('hide').prepend(html);
                    $('.tabs,.votes' ).click();
                }
            });
        }else{
            var not = $('.not');
            not.fadeIn();
            document.body.style.overflow='hidden';
            $('.confirm,.not .bg' ).on('click',function(){
                not.fadeOut();
                document.body.style.overflow='scroll';
                $('.banner,.lists' ).click();
//			$('.bottom' ).animate({'bottom':'-45px'},500,'swing');
//			$('.myword input' ).val('');
            })
        }
    };

    //同意
    var agree = function(e,id,status){
        //样式变化，移到suc
        var n = $(e).next('span').text();
        if($(e).hasClass('agree_')) return false;
        if($(e).nextAll('i').hasClass('disagree_')) return false;
        $(e).toggleClass('agree' ).toggleClass('agree_');
        $(e ).hasClass('agree')?n--:n++;
        $(e ).next('span').text(n);
        $.ajax({
            type:"post",
            url:"{:Url('Activity/vote')}",
            data:{
                id:id,
                status:status
            },
            success:function(data){
                console.log('点赞成功');
            }
        })
    };

    var disagree = function(e,id,status){
        //样式变化，移到suc
        var n = $(e).next('span').text();
        if($(e).hasClass('disagree_')) return false;
        if($(e).prevAll('i').hasClass('agree_')) return false;
        $(e).toggleClass('disagree' ).toggleClass('disagree_');
        $(e ).hasClass('disagree')?n--:n++;
        $(e ).next('span').text(n);
        $.ajax({
            type:"post",
            url:"{:Url('Activity/vote')}",
            data:{
                id:id,
                status:status
            },
            success:function(data){
                console.log('点赞成功');
            }
        })
    };

    var layout = function(){
        $('.lists ul li' ).each(function(){
            var this_ = $(this);
            var n_img = this_.find('.imgs .img' ).length;
            var n_li = this_.find('.comments li' ).length;
            if(n_img == 4){
                this_.find('.imgs .img' ).eq(1).after('<br>')
            }
            if(n_li == 0){
                this_.find('.comments').addClass('hide');
            }
        })
    };
    //图片排版、评论框
    layout();
    //图片裁剪
    imgresize();

    window.onpageshow = function (e) {
            if (e.persisted) {
                window.location.reload(true);
            }
    }
</script>
{/block}