{extend name="public/common"}

{block name="style"}
<title>组织活动</title>
<link rel="stylesheet" href="/home/css/activity/publish.css">
<link rel="stylesheet" href="/home/css/activity/mui.picker.min.css">
<style>
    @keyframes shake {
        0% {
            transform: rotate(1deg);
        }
        30% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(20deg);
        }
        70% {
            transform: rotate(-20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @-webkit-keyframes shake {
        0% {
            transform: rotate(1deg);
        }
        30% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(20deg);
        }
        70% {
            transform: rotate(-20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    #popover,#popover .mui-table-view{
        height:30vw;
        max-height: 125px;
    }
    .mui-table-view-cell>a:not(.mui-btn){
        font-size: 0.36rem;
        margin:-5px -11px;
        text-align: center;
    }
    .mui-dtpicker-header button {
        font-size: 0.36rem;
        padding: 0.13rem 0.26rem;
    }
    .mui-dtpicker-title h5 {
        display: inline-block;
        width: 20%;
        margin: 0;
        padding: 0.26rem;
        text-align: center;
        border-top: solid 1px #ddd;
        background-color: #f0f0f0;
        border-bottom: solid 1px #ccc;
        font-size: 0.32rem;
    }
    .closed{
        display: inline-block;
        background: url("/home/images/common/close.png");
        width: 6vw;
        height: 6vw;
        background-size: 6vw 6vw;
        position: absolute;
        z-index: 9999;
        margin-left: -4vw;
        margin-top: -3vw;
        animation: shake 800ms ease;
        -webkit-animation: shake 800ms ease;
    }
    .sweet-alert h2{
        font-size: 20px;
    }
    .type1{
        display: none;
    }
</style>
{/block}

{block name="body"}
<div class="main">
    <div class="list">
        <ul>
            <li>
                模块
                <a id="openPopover" href="#popover">活动通知</a>
                <span class="triangle-down"></span>
            </li>
            <li>
                标题
                <input type="text" placeholder="请输入标题..." value="" name="title">
            </li>
            <li class="type1">
                开始时间
                <input type="input" placeholder="请输入开始时间...（可为空）" name="start_time" id="start_time" readonly>
            </li>
            <li class="type1">
                结束时间
                <input type="input" placeholder="请输入结束时间...（可为空）" name="end_time" id="end_time" readonly>
            </li>
            <li class="type1">
                地址
                <input type="text" placeholder="请输入详细地址...（可为空）" name="address" value="">
            </li>
            <li class="type1">
                联系方式
                <input type="text" placeholder="请输入联系方式...（可为空）" name="tel" value="">
            </li>
            <div class="content">
                <textarea placeholder="" name="content"></textarea>
                <div class="imgs clear">
                    <div>
                        <div class="img fl hide"></div>
                    </div>
                    <div>
                        <div class="img fl hide"></div>
                    </div>
                    <div>
                        <div class="img fl hide"></div>
                    </div>
                    <div>
                        <div class="img fl hide"></div>
                    </div>
                    <div class="add fl"></div>
                </div>
                <div style="color: #666;font-size: 0.32rem;margin-left: 2vw">(您最多上传四张图片，图片小于5M)</div>
                <input type="file" class="hide" id="upimg" name="upload" accept="image/*">
                <input type="hidden" name="id" value="">
            </div>
        </ul>
    </div>
    <div class="goreview">确认发布</div>
    <p class="tips"></p>
</div>

<div id="popover" class="mui-popover" >
    <ul class="mui-table-view">
        <li class="mui-table-view-cell"><a>活动通知</a></li>
        <li class="mui-table-view-cell"><a>活动展示</a></li>
    </ul>
</div>



<div class="showbox">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/mui.picker.min.js"></script>
<script>
    var index =  parseInt(window.location.href.split("?")[1]);
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

    if(isAndroid){
        $ ("input[name='file']").attr('capture','camera');
    }

    $(function(){
        var openPopover = $("#openPopover");
        var placeHolder = $("textarea[name=content]");
        var type1 = $(".type1");
        var tips = $(".tips");
        if(index==0){
            type1.show();
            openPopover.text("活动通知");
            placeHolder.attr("placeholder","请输入通知内容（不限字数）");
            tips.text("温馨提示，发布成功后，请在活动通知中查看！");
        }else{
            type1.hide();
            openPopover.text("活动展示");
            placeHolder.attr("placeholder","请输入展示内容（不限字数）");
            tips.text("温馨提示，发布成功后，请在活动展示中查看！");
        }
        imgresize();
    });

    window.onload = function(){
        var dtpicker = new mui.DtPicker({
            "type": "datetime",
            "value": ""
        });
        document.querySelector('#start_time').addEventListener('tap', function () {
            dtpicker.show(function (e) {
                document.getElementById('start_time').value = e.text;
            })
        })
        document.querySelector('#end_time').addEventListener('tap', function () {
            dtpicker.show(function (e) {
                document.getElementById('end_time').value = e.text;
            })
        })
    };

    $("#popover ul li").click(function(){
        var placeHolder = $("textarea[name=content]");
        var select_it = $(this).text();
        var type1 = $(".type1");
        var tips = $(".tips");
        $("#openPopover").html(select_it);
        if(select_it=="活动通知"){
            placeHolder.attr("placeholder","请输入通知内容（不限字数）");
            tips.text("温馨提示，发布成功后，请在活动通知中查看！");
            type1.show();
        }else{
            placeHolder.attr("placeholder","请输入展示内容（不限字数）");
            tips.text("温馨提示，发布成功后，请在活动展示中查看！");
            type1.hide();
        }
        mui('#popover').popover("hide");
    });

    //去上传
    $(".goreview").click(function(){
        var single = false;
        var Imgarr = [];
        $(".imgs .img").each(function(){
            if(!$(this).hasClass("hide")){
                Imgarr.push($(this).find("img").attr("data-tab"))
            }
        });
        if($("input[name='title']").val() == ""){
            swal({
                title: ' ',
                text: '标题不能为空',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
            return false;
        }else if($("textarea[name='content']").val()=="" ){
            swal({
                title: ' ',
                text: '内容不能为空',
                type: 'error',
                showConfirmButton:false,
                timer:1500
            });
            return false;
        }
        single = true;
        if(single){
            var openPopover = $("#openPopover").text();
            if(openPopover=="活动通知"){
                var start_time = $("input[name='start_time']").val();
                var end_time = $("input[name='end_time']").val();
                if(start_time==''&&end_time!==''){
                    swal({
                        title: ' ',
                        text: '请输入开始时间',
                        type: 'error',
                        showConfirmButton:false,
                        timer:1500
                    });
                    return false;
                }
                if(start_time==!''&&end_time==''){
                    swal({
                        title: ' ',
                        text: '请输入结束时间',
                        type: 'error',
                        showConfirmButton:false,
                        timer:1500
                    });
                    return false;
                }
                var data = {
                    type:2,
                    title: $("input[name='title']").val(),
                    start_time:start_time ,
                    end_time:end_time,
                    address: $("input[name='address']").val(),
                    telephone: $("input[name='tel']").val(),
                    content: $("textarea[name='content']").val()
                };
            }else{
                var data = {
                    type:1,
                    title: $("input[name='title']").val(),
                    content: $("textarea[name='content']").val()
                };
            }
            if(Imgarr.length!==0){
                data["images"] = Imgarr;
            }
            $.ajax({
                type:"post",
                url: "{:Url('Activity/publish')}",
                data:data,
                success:function(data){
                    if(data.code == 1){
                        swal({
                            title: "发布成功",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            allowOutsideClick:false
                        });
                        setTimeout(function(){
                            window.history.go(-1);
                        },1500)
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            showConfirmButton:false,
                            timer:1500
                        });
                    }
                }
            });
        }
    });

    $(function(){
        //图片预览
        var arrIndex = [];
        $('.add' ).on('click',function(){
            var imglen = $('.img img' ).length;
            var this_ = $(this);
            $('#upimg').click().off("change").on('change',function(){
                var size = ($(this)[0].files[0].size/ 1024).toFixed(2);
                if(size <= 5120){
                    var img = $(this)[0].files[0];
                    var formData = new FormData();
                    formData.append("picture",img);
                    $.ajax({
                        type:"post",
                        url:"/home/File/uploadPicture",
                        data:formData,
                        processData : false, // 告诉jQuery不要去处理发送的数据
                        contentType : false,  // 告诉jQuery不要去设置Content-Type请求头
                        beforeSend: function(XMLHttpRequest){
                            $(".showbox").show();
                            $('.swal2-confirm' ).css({'background-color':'#c1c1c1','border-left-color':'#c1c1c1','border-right-color':'#c1c1c1'})
                        },
                        success:function(data){
                            var msg = $.parseJSON(data);
                            if(msg.code == 1){
                                if(this_.hasClass('add')){
                                    // 图片添加
                                    if(imglen == 3){
                                        $('.add' ).fadeOut();
                                    }
                                    if(arrIndex.length!==0){
                                        $('.img').eq(arrIndex[arrIndex.length-1] -1).removeClass('hide' )
                                                .after("<span class='closed'></span>")
                                                .append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>')
                                        arrIndex.pop();
                                    }else{
                                        $('.img').eq(imglen).removeClass('hide')
                                                .after("<span class='closed'></span>")
                                                .append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>')

                                    }

                                }else{
                                    // 图片修改
                                    this_.find('img').remove();
                                    this_.append('<img src='+msg.data.path+' alt="图片" data-tab='+msg.data.id+'>');
                                }
                                imgresize();
                                $(".showbox").hide();
                            }
                        },
                        error:function(){
                            $(".showbox").hide();
                            swal({
                                title: ' ',
                                text: '上传失败，请重试',
                                type: 'error',
                                showConfirmButton:false,
                                timer:1500
                            });
                        }
                    });
                } else {
                    swal({
                        title: ' ',
                        text: '您的图片超过5M',
                        type: 'warning',
                        showConfirmButton:false,
                        timer:1500
                    });
                }
            });

        });


        $(".imgs").on("click",".closed",function(e){
            var This = $(this);
            swal({
                title: "是否删除当前图片",
                showConfirmButton: true,
                showCancelButton: true,
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                confirmButtonColor: "#ec6c62"
            }, function() {
                if(!This.hasClass("hide")){
                    arrIndex.push(This.parent().index()+1);
                    This.prev(".img").find("img").attr("data-tab","");
                    This.prev(".img").find("img").remove();
                    This.prev(".img").addClass("hide");
                    This.remove();
                    $(".add").show();
                    $("#upimg").val("");
                }
            });
        });

    });


    //剪裁图片
    function imgresize(){
        var font = parseInt($("html").css("font-size"))*2;
        setTimeout(function(){
            var img = $('.img img');
            var img2 = $('.img2 img');
            var img3 = $('.img3 img');
            var img4 = $('.img4 img');
            img.each(function(){
                if($(this).width() == $(this).height()){
                    $(this).height('20vw');
                    $(this).width('20vw');
                }else if($(this).width() > $(this).height()){
                    $(this).height('20vw' ).css({'left':-$(this).width()/2+font/2});
                }else{
                    $(this).width('20vw').css({'top':-$(this).height()/2+font/2});
                }
            });
        },100);
    }
</script>
{/block}