{extend name="public/pure"}

{block name="style"}
<title>中国遥感协会</title>
<link rel="stylesheet" href="/home/css/index/index.css">
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<style>
    html,body{
        height:100%;
    }

</style>
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
<!--banner-->
<div class="banner">
    <img src="/home/images/index/banner.png" alt="首页banner图">
    <a  class="exit">
        <img src="/home/images/index/exit.png" alt="">
    </a>
</div>
<!--图标轮播-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <ul class="model clearfix">
                <li>
                    <a href="{:Url('College/index?c=0')}">
                        <img src="/home/images/index/1.jpg" alt="信息驿站">
                        <span>信息驿站</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Structure/index')}">
                        <img src="/home/images/index/3.jpg" alt="云上组织">
                        <span>云上组织</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Learn/index?c=1')}">
                        <img src="/home/images/index/8.jpg" alt="两学一做">
                        <span>两学一做</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Pioneer/home?c=1')}">
                        <img src="/home/images/index/2.jpg" alt="先锋引领">
                        <span>先锋引领</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('Activity/index?c=0')}">
                        <img src="/home/images/index/4.jpg" alt="活动发起">
                        <span>活动发起</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('news/index?c=0')}">
                        <img src="/home/images/index/7.jpg" alt="红色足迹">
                        <span>红色足迹</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('branch/index?c=1')}">
                        <img src="/home/images/index/5.jpg" alt="支部建设">
                        <span>支部建设</span>
                    </a>
                </li>
                <li>
                    <a href="{:Url('user/index')}">
                        <img src="/home/images/index/6.jpg" alt="个人中心">
                        <span>个人中心</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--分割线-->
<div class="level"></div>
<!--新闻通知-->
<div class="content">
    <div class="notices">
        <div class="notice party">
            {volist name="list2" id="loo"}
            <a href="
            {switch name='$loo.class'}
            {case value='1'}{:Url('News/detail?id='.$loo['id'])}{/case}
            {case value='2'}
                {eq name='$loo.type' value='1'}
                {:Url('Learn/video?id='.$loo['id'])}
                {else/}
                {:Url('Learn/article?id='.$loo['id'])}
                {/eq}
            {/case}
            {case value='3'}
                {:Url('College/forumnotice?id='.$loo['id'])}
            {/case}
             {case value='4'}
                {:Url('Pioneer/detail?id='.$loo['id'])}
            {/case}
            {case value='5'}
                {:Url('Activity/detail?id='.$loo['id'])}
            {/case}
            {case value='6'}
                {:Url('Branch/detail?id='.$loo['id'])}
            {/case}
            {default/}
            {/switch}"
               class="list clear" data-type="{$loo.class}">
                <div class="fl">
                    <img src="{$loo.front_cover|get_cover='path'}" alt="图片">
                    <span class="type">
                    {switch name='$loo.class'}
                    {case value='1'}红色足迹{/case}
                    {case value='2'}两学一做{/case}
                    {case value='3'}信息驿站{/case}
                    {case value='4'}先锋引领{/case}
                    {case value='5'}活动发起{/case}
                    {case value='6'}支部建设{/case}
                    {default/}
                    {/switch}
                   </span>
                </div>
                <div class="fr right">
                    <div class="title limit_">{$loo.title}</div>
                    <div class="clear time">
                        <span class="fl">{$loo.publisher|subtext=9}</span>
                        <span class="fr">{$loo.create_time|time_format='Y-m-d'}</span>
                    </div>
                </div>
            </a>
            {/volist}
        </div>
    </div>
</div>
        </div>
    </div>
{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
//        loop: true,
        autoplayDisableOnInteraction: false,
//        pagination : '.swiper-pagination',
//        paginationClickable :true
    });
    window.onload = function(){
        if( $('.notice .list').length<6){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else{
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }

        $(".banner").on("tap",".exit",function(){
            swal({
                        title:"",
                        text: "是否确认退出",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "确认",
                        closeOnConfirm: false,
                        cancelButtonText:"取消"
                    },
                    function(){
                        swal({
                            title: ' ',
                            text: '退出成功！',
                            type: 'success',
                            confirmButtonText:'确定'
                        });
                        setTimeout(function(){
                            window.location.replace("{:Url('Verify/logout')}");
                        },1000)
                    });
        })

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    mui('.clearfix').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    });
    mui('.party').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    });

    //上拉加载更多
    function loadScroll(){
            var news_len = $('.notice .list[data-type=1]').length;
            var learn_len = $('.notice .list[data-type=2]').length;
            var notice_len = $('.notice .list[data-type=3]').length;
            var pioneer_len = $('.notice .list[data-type=4]').length;
            var wish_len = $('.notice .list[data-type=5]').length;
            var branch_len = $('.notice .list[data-type=6]').length;
                $.ajax({
                    type:"get",
                    url: "{:Url('Index/moreDataList')}",
                    data:{
                        news: news_len,
                        learn: learn_len,
                        notice: notice_len,
                        pioneer_story: pioneer_len,
                        wish:wish_len,
                        branch:branch_len
                    },
                    beforeSend: function(XMLHttpRequest){
                    },
                    success:function(data){
                        if(data.code == 1){
                            addLists(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 6){
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                            }else{
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                            }
                        }else{
                                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                        }
                    }
                })
    }
    //数据循环
    function addLists(data){
        var type;
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            var link = '';
            var type_name ='';
            if(list.class == 1){
                class_name = '红色足迹';
                link = '/home/news/index/id/'+list.id;
            }else if(list.class == 2){
                class_name = '两学一做';
                //1视频 2文字
                if(list.type == 2){
                    link = '/home/learn/article/id/'+list.id;
                }else{
                    link = '/home/learn/video/id/'+list.id;
                }
            }else if(list.class == 3){
                class_name = '信息驿站';
                link = '/home/college/forumnotice/id/'+list.id;
            }else if(list.class == 4){
                class_name = '先锋引领';
                link = '/home/pioneer/detail/id/'+list.id;
            }else if(list.class == 5){
                class_name = '活动发起';
                link = '/home/activity/detail/id/'+list.id;
            }else if(list.class == 6){
                class_name = '支部建设';
                link = '/home/branch/detail/id/'+list.id;
            }
            if(list.publisher.length >9){
                list.publisher = list.publisher.substring(0,9)+'...';
            }
            html +=
                    '<a href="'+link+'" class="list clear" data-type='+list.class+'>'+
                    '<div class="fl">'+
                    '<img src="'+list.path+'" alt="图片">'+
                    '<span class="type">'+class_name+'</span>'+
                    '</div>'+
                    '<div class="fr right">'+
                    '<div class="title limit_">'+list.title+'</div>'+
                    '<div class="clear time">'+
                    '<span class="fl">'+list.publisher+'</span>'+
                    '<span class="fr">'+list.time+'</span>'+
                    '</div>'+
                    '</div>'+
                    '</a>'
        }
        $('.notice').append(html);
    }
</script>
{/block}