*{
    box-sizing: border-box;
}
img{
    vertical-align: inherit;
    height: 100%;
    overflow: hidden;
}
/*样式reset*/
.list-block .item-content{
    padding:0;
}
.list-block .item-inner{
    padding:0;

}
.list-block{
    margin:0;
}
/*基础样式*/
.view>.navbar{
    height:50px;
}
.page-content{
    padding-top:30%;
}
.list-block ul:before,.list-block ul:after,.list-block .item-inner:after{
    height:0;
}
/*.swiper*/
.swiper-container{
    background:#fff;
    height:3rem;
}
.swiper-slide>div{
    position:absolute;
    left:0;
    bottom:0;
    background:#000;
    opacity: .5;
    width:100%;
    z-index:99;
}
.swiper-slide>img{
    width:100%;
}

/**/
.list-block .item-content{
    padding-left:3%;display:none;position:absolute;top:0;left:0;
}
.list-block .item-title{
    white-space:normal;text-indent:2em;color:#666;font-size: 0.28rem;  line-height: 0.5rem;
padding-top: 0.8rem;
}
.item-title>span:nth-child(1){
    color:#D10E15;font-size:0.32rem;
}
.item-title>span:nth-child(2){
    color:#D10E15;
}
#btn1{
    position:absolute;bottom:30px;right:20px;width:50px;height:50px;
    display: block;
    -webkit-transform-origin: 25px 25px;z-index:1000000;
}
/**/
.swiper-slide>div{
    position:absolute;
    left:0;
    bottom:0;
    background:#000;
    opacity: .8;
    width:100%;
    z-index:99;
}
.swiper-slide>div>span{
    color: #fff;
    height: 0.4rem;
    line-height: 0.4rem;
    width: 95%;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px;
    z-index: 100;
    font-size: 0.28rem;
}