{extend name="public/common"}
{block name="style"}
<title>先锋引领</title>
<style>
.banners img{
    width:100%;
    position: relative;
    z-index: 9;
}
.round{
    position: relative;
    z-index: 99;
}
.round div{
    border: 0.025rem solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
}
.round .round-first{
    border: none;
    width: 1.9rem;
    height: 1.9rem;
    margin-left: -0.95rem;
    margin-top: -1.2rem;
}
.round .round-second{
    width: 2.1rem;
    height: 2.1rem;
    margin-left: -1.05rem;
    margin-top: -1.3rem;
}
.round .round-third{
    width:2.3rem;
    height: 2.3rem;
    margin-left: -1.15rem;
    margin-top: -1.4rem;
    opacity: 0.8;
}
.round .round-fourth{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -1.25rem;
    margin-top: -1.5rem;
    opacity: 0.4;
}
.round .round-first img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.person{
    height:1.8rem;
}
    p{
        text-align: center;
        font-size: 0.24rem;
        color: #333;
        position: relative;
        z-index: 999;
        padding: 0.1rem;
    }
    p.name{
        font-size: 0.28rem;
        padding-top: 0.8rem;
    }

/*tab*/
#tab {
    width: 100vw;
    height: 1rem;
    z-index: 99;
    border-bottom: 0.03rem solid #f9f9f9;
}
#tab a{
    display: inline-block;
    width: 49vw;
    height: 100%;
    color: #333333;
    font-size:0.32rem;
    line-height: 1rem;
    text-align: center;
}
.mui-control-item.mui-active {
    color: #ffab37!important;
}
    #tab a:active{
        background: none;
    }
    #tab a span{
        height: 1rem;
        display: inline-block;
    }
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
    border-bottom: 0.03rem solid #ffab37;
}
.reported{
    padding-bottom: 0.5rem;
}
/*活动报道*/
.notice .list{
    display: block;
    width: 100%;
    height: 1.8rem;
    padding-left: 0.26rem;
    padding-right: 0.26rem;
    border-bottom: 1px solid #dddddd;
}
.list img{
    width: 1.8rem;
    height: 1.2rem;
    margin-top: 0.4rem;
}
.list .lr{
    width: calc(100% - 1.8rem);
    padding-left: 0.1rem;
}
.list .lr .title{
    width: 100%;
    height:0.76rem;
    font-size: 0.28rem;
    margin-top: 0.3rem;
    margin-bottom: 0.16rem;
    color:#333;
}
.list .lr .clear{
    font-size: 0.24rem;
    color:#999;
    margin-top: 0.25rem;
}
#item1mobile p{
    text-align: left;
    text-indent: 0.5rem;
    padding: 0.4rem;
}
.default img {
    top: 30%;
}
</style>
{/block}
{block name="body"}
<div class="banners">
    <img src="/home/images/pioneer/banner.png">
</div>
<div class="round">
<div class="round-first">
    <img src="{$list.front_cover|get_cover='path'}">
</div>
<div class="round-second"></div>
<div class="round-third"></div>
<div class="round-fourth"></div>
</div>
<div class="person">
<p class="name">{$list.name}</p>
{eq name="list.class" value="1"}
<p class="position">{$list.position}</p>
{/eq}
</div>
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        {switch name="list.class"}
        {case value="1"}<span>专家简介</span>{/case}
        {case value='2'}<span>集体简介</span>{/case}
        {default / } <span>单位简介</span>
        {/switch}
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
       <span>先进事迹</span>
    </a>
</div>

<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <!--新闻发布-->
                {$list.content}
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <!--先进事迹-->
                <div class="notice reported">
                    {empty name="info"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists">
                        {volist name="info" id="if"}
                        <a class="list clear" href="{:Url('Pioneer/detail?id='.$if['id'])}">
                            <div class="fl">
                                <img src="{$if.front_cover}" alt="">
                            </div>
                            <div class="fr lr">
                                <div class="title limit_">{$if.title}</div>
                                <div class="clear">
                                    <span class="fl">{$if.create_time}</span>
                                    <span class="fr fa fa-angle-right"></span>
                                </div>
                            </div>
                        </a>
                        {/volist}
                    </div>
                    {/empty}
                </div>

            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c =  parseInt(window.location.href.split("/c/")[1]);
$(function(){
    //tab初始化和数据存储
    var co = getCookie("type");
    if(co == 0 || co == 1 || co == 2){
        c = co;
    }else{
        c =  parseInt(window.location.href.split("/c/")[1]);
    }
    $("#tab a").eq(c).addClass('mui-active');
    $(".mui-slider-group>div").eq(c).addClass('mui-active');
})
    mui('#tab').on('tap', 'a', function(e) {
        $(".mui-scroll").css("transform","translate3d(0px, 0px, 0px) translateZ(0px)");
        c = this.getAttribute("data-index");
        if(c==0){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else if(c==1){
            if($(".reported .lists .list").length<7){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
        setCookie("type",c);
    });

window.onload = function(){
    setTimeout(function(){
        var height = $("#tab").height()+$(".banners").height()+$(".person").height();;
        $("#refreshContainer").css("top",height);
    },0)
    if(c==0){
        mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
    }else if(c==1){
        if($(".reported .lists .list").length<7){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else{
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }
}
    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    mui('.lists').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    });

function loadScroll(){
   var len = $(".reported .lists .list").length;
    var pid = {$list.id};
    $.ajax({
        type:"post",
        url: "{:Url('Pioneer/moreList')}",
        data:{
            length:len,
            pid:pid
        },
        beforeSend: function(XMLHttpRequest){
        },
        success:function(data){
            if(data.code == 1){
                addCourse(data);
                var dataLen =data.data.length;
                if(data.data.length == 7){
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    loadScroll();
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }else{
                mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
            }
        }
    })
}

function addCourse(data){
    var html = '';
    var lists = data.data;
    var len = lists.length;
    for(var i = 0; i< len;i++){
        var list = lists[i];
            html +=
                    '<a class="list clear" href="/home/Pioneer/detail/id/'+list.id+'">' +
                    '<div class="fl">' +
                    '<img src="'+list.front_cover+'" alt="图片">' +
                    '</div>' +
                    '<div class="fr lr">' +
                    '<div class="title limit_">'+list.title+'</div>' +
                    '<div class="clear">' +
                    '<span class="fl">'+list.create_time+'</span>' +
                    ' <span class="fr fa fa-angle-right"></span>' +
                    '</div>' +
                    '</div>' +
                    '</a>';
    }
    $(".reported .lists").append(html);
}
</script>
{/block}