{extend name="public/common"}
{block name="style"}
<title>先锋引领</title>
<style>
    html,body{
        background: #fcfcfc;
    }
    .content{
        height: 100vh;
        padding: 0.5rem 0;
        overflow: hidden;
    }
    .title:nth-child(even) img{
        right: 0;
    }
    .title:nth-child(even):after{
        content: '';
        display: block;
        height: 21.3vw;
        width: 2vw;
        background: #fff;
        position: absolute;
        margin-left: 0.6rem;
        z-index: 99;
        top: 6vw;
        right: 36vw;
    }
    .title:nth-child(odd):after{
        content: '';
        display: block;
        height: 21.3vw;
        width: 2vw;
        background: #fff;
        position: absolute;
        margin-left: 36vw;
        z-index: 99;
        top: 6vw;
    }
    .title:nth-child(odd) img{
        clear: both;
    }
    .title{
        height:calc((100vh - 100px) / 4);
        position: relative;
        width:100%;
        display: block;
    }
    .title img{
        width: 45.9vw;
        height: 31.2vw;
        z-index:2;
        position: absolute;
    }

    /*序号*/
    .title span{
        font-size: 10vw;
        position: absolute;
        color: #fff;
        z-index: 9;
        height: 21.3vw;
        line-height: 31.2vw;
        height: 31.2vw;
    }
    .title:nth-child(odd) span{
        top: 1.4vw;
        left: 13vw;

    }
    .title:nth-child(even) span{
        right: 14vw;
        top: 1.4vw;
    }

    /*文字背景*/
    .title .writing{
        width: calc(100% - 45vw);
        height: 21.3vw;
        background: #fff;
        position: absolute;
        border-radius: 0.1rem;
        z-index: 1;
        -moz-box-shadow: 0px 10px 8px #f1f1f1;
        -webkit-box-shadow: 0px 10px 8px #f1f1f1;
        box-shadow: 0px 10px 8px #f1f1f1;
    }
    .title:nth-child(even) .writing{
        left: 7vw;
        margin-top: 4vw;
    }
    .title:nth-child(odd) .writing{
        left: 37vw;
        margin-top: 4vw;
    }

    /*文字内容*/
    .title p{
        position: absolute;
        z-index: 999;
        font-size: 7vw;
    }
    .title:nth-child(even) p{
        height: 21.3vw;
        line-height: 21.3vw;
        right: 45vw;
        margin-top: 5vw;
    }
    .title:nth-child(odd) p{
        height: 21.3vw;
        line-height: 21.3vw;
        margin-top: 3vw;
        left: 45vw;
    }
    .title:nth-child(1) p{
        color: #ffb549;
        font-size: 7vw;
    }
    .title:nth-child(2) p{
        color: #ff6472;
        font-size: 0.56rem;
        font-size: 7vw;
    }
    .title:nth-child(3) p{
        color: #4997fc;
        font-size: 7vw;
    }
    .title:nth-child(4) p{
        color: #c95fff;
        font-size: 7vw;
    }
    @media screen and (device-width: 320px){
       html{
           font-size: 80px!important;
       }
    }
    .content p{
        width:auto;
    }
    .title_box{
        height: 100%;
        padding-top: 0.3rem;
    }
</style>
{/block}
{block name="body"}
<div class="content">
    <a class="title" href="{:Url('pioneer/index?type=1')}">
        <div class="title_box">
    <img src="/home/images/pioneer/1.png" class="images">
        <span>01</span>
        <div class="writing"></div>
        <p>国家先锋</p>
        </div>
    </a>
    <a class="title" href="{:Url('pioneer/index?type=2')}">
        <div class="title_box">
        <img src="/home/images/pioneer/2.png">
        <span>02</span>
        <div class="writing"></div>
        <p>国防科技先锋</p>
            </div>
    </a>
    <a class="title" href="{:Url('pioneer/index?type=3')}">
        <div class="title_box">
        <img src="/home/images/pioneer/3.png">
        <span>03</span>
        <div class="writing"></div>
        <p>中国遥感先锋</p>
            </div>
    </a>
    <a class="title" href="{:Url('pioneer/index?type=4')}">
        <div class="title_box">
        <img src="/home/images/pioneer/4.png">
        <span>04</span>
        <div class="writing"></div>
        <p>协会先锋</p>
    </div>
        </a>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

</script>
{/block}