{extend name="public/common"}
{block name="style"}
<title>先锋引领</title>
<link rel="stylesheet" href="/home/css/pioneer/index.css">
<style>
    .tabs{
        background: url(/home/images/activity/tab.png) no-repeat;
        background-size: cover;
    }
    .notice>.title{
        width: 100vw;
        font-size: 1.6rem;
        color: #333333;
        line-height: 60px;
        text-align: center;
    }
    #publish {
        position: fixed;
        right: 20px;
        bottom: 40px;
        width: 60px;
        height: 60px;
        background: url(/home/images/feedback/note.png) no-repeat;
        background-size: 100% 100%;
    }
    .scrollDiy{
        position: absolute;
        top:0;
        bottom:0;
        overflow-y: scroll;
        /* 增加该属性，可以增加弹性 */
        -webkit-overflow-scrolling: touch;
        width:100%;
    }
    .triangle-up {
        border-left: 2.66vw solid transparent;
        border-right: 2.66vw solid transparent;
        border-bottom: 3.46vw solid #fff;
        position: absolute;
        top: 0.73rem;;
        left: 14%;
    }
</style>
{/block}
{block name="body"}
<!--tab-->
<div class="scrollDiy">
    <div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <a class="mui-control-item" href="#item1mobile" data-index="0">
            个人
        </a>
        <a class="mui-control-item" href="#item2mobile" data-index="1">
            集体
        </a>
        <a class="mui-control-item" href="#item3mobile" data-index="2">
            单位
        </a>
        <span class="triangle-up"></span>
    </div>


    <div class="mui-slider-group">
        <div id="item1mobile" class="mui-slider-item mui-control-content">
            <!--个人-->
            <div class="notices">
                <div class="notice regularmore">
                    {empty name="list1"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists tutor">
                        <ul>
                            {volist name="list1" id="vo"}
                            <a href="{:Url('pioneer/deeds?id='.$vo.id.'&c=0')}">
                                <img src="{$vo.front_cover|get_cover='path'}">
                                <span>{$vo.name}</span>
                                <span class="position">{$vo.position}</span>
                                {eq name="visit" value="0"}
                                {eq name="$vo.is_like" value="0"}
                                <span onclick="like(this,'{$vo.id}',7)" class="like"><i></i><em>{$vo.likes+2000}</em></span>
                                {else/}
                                <span class="liked"><i></i><em>{$vo.likes+2000}</em></span>
                                {/eq}
                                {else/}
                                <span class="like"><i></i><em>{$vo.likes+2000}</em></span>
                                {/eq}
                            </a>
                            {/volist}
                        </ul>
                    </div>
                    {/empty}
                </div>
            </div>
        </div>
        <div id="item2mobile" class="mui-slider-item mui-control-content">
            <!--集体-->
            <div class="notices">
                <div class="notice regularmore">
                    {empty name="list2"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists tutor">
                        <ul>
                            {volist name="list2" id="vo"}
                            <a href="{:Url('pioneer/deeds?id='.$vo.id.'&c=0')}">
                                <img src="{$vo.front_cover|get_cover='path'}">
                                <span>{$vo.name}</span>
                                {eq name="visit" value="0"}
                                {eq name="$vo.is_like" value="0"}
                                <span onclick="like(this,'{$vo.id}',7)" class="like"><i></i><em>{$vo.likes+2000}</em></span>
                                {else/}
                                <span class="liked"><i></i><em>{$vo.likes+2000}</em></span>
                                {/eq}
                                {else/}
                                <span class="like"><i></i><em>{$vo.likes+2000}</em></span>
                                {/eq}
                            </a>
                            {/volist}
                        </ul>
                    </div>
                    {/empty}
                </div>
            </div>
        </div>
        <div id="item3mobile" class="mui-slider-item mui-control-content">
            <!--单位-->
            <div class="notices">
                <div class="notice regularmore">
                    {empty name="list3"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                    {else/}
                    <div class="lists tutor">
                        <ul>
                            {volist name="list3" id="vo"}
                            <a href="{:Url('pioneer/deeds?id='.$vo.id.'&c=0')}">
                                <img src="{$vo.front_cover|get_cover='path'}">
                                <span>{$vo.name}</span>
                                {eq name="visit" value="0"}
                                {eq name="$vo.is_like" value="0"}
                                <span onclick="like(this,'{$vo.id}',7)" class="like"><i></i><em>{$vo.likes+2000}</em></span>
                                {else/}
                                <span class="liked"><i></i><em>{$vo.likes+2000}</em></span>
                                {/eq}
                                {else/}
                                <span class="like"><i></i><em>{$vo.likes+2000}</em></span>
                                {/eq}
                            </a>
                            {/volist}
                        </ul>
                    </div>
                    {/empty}
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="script"}
    <script src="/home/js/reset.js"></script>
<script>
    var c =  parseInt(window.location.href.split("index/type/")[1])-1;
    //tab初始化和数据存储
    var co = getCookie("type");
    if(co == 0 || co == 1 || co == 2){
        c = co;
    }else{
         c =  parseInt(window.location.href.split("index/type/")[1])-1;
    }
    if(c==0){
        $(".triangle-up").css("left","14%");
    }else if(c==1){
        $(".triangle-up").css("left","47%");
    }else if(c==2){
        $(".triangle-up").css("left","80%");
    }
    $("#tab a").eq(c).addClass('mui-active');
    $(".mui-slider-group>div").eq(c).addClass('mui-active');

    mui('#tab').on('tap', 'a', function(e) {
        c = this.getAttribute("data-index");
        setCookie("type",c);
        if(c==0){
            $(".triangle-up").css("left","14%");
        }else if(c==1){
            $(".triangle-up").css("left","47%");
        }else if(c==2){
            $(".triangle-up").css("left","80%");
        }
    });

    //点赞
   var like = function(e,id,type){
       event.stopPropagation();
       event.preventDefault()
       var n = parseInt($(e).children("em").text());
       if($(e).hasClass('liked')){
           return false;
       }
       $.ajax({
           type:"post",
           url:"{:Url('Pioneer/like')}",
           data:{
               type:type,
               aid:id,
           },
           success:function(data){
               if(data.code == 1){
                   $(e).children("em").text(n+1);
                   $(e).removeClass("like").addClass("liked");
               }else{
                   swal({
                       title: ' ',
                       text: data.msg,
                       type: 'error',
                       confirmButtonText:'确定'
                   });
               }
           }
       })
   }
</script>
{/block}