{extend name="public/common"}

{block name="style"}
<title>云上组织</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
{/block}

{block name="body"}
{empty name="list"}
<div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
{else/}
<ul class="d_lists">
	{volist name="list" id="lo"}
	<li class="d_list">
	<div class="d_img_box">
		<div class="d_img" style="background-color:red">{$lo.name}</div>
		</div>
	<div class="d_name">{$lo.name} {$lo.position}</div>
	<a class="d_tel" href="tel:{$lo.mobile}" >
		'<span class="d_tel_icon"></span>
		<span style="font-size: 0.24rem;">{$lo.mobile}</span>
		</a>
	</li>
	{/volist}
</ul>
{/empty}
{/block}

{block name="script"}
<script>
	$(function(){
		$(".d_img").each(function(){
			$(this).css("background-color",bg_color[Math.floor(Math.random()*10)])
		})
	})
var bg_color=["#b1e3fc", "#aeefef", "#ffa351", "#9393f5", "#cf88f7", "#65abfa", "#ebcffb", "#76f4f0", "#ffcf6e", "#ff8ff4"];
</script>
{/block}