{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/banner/1.jpg" alt="组织架构banner" class="banner-img">
</div>
<div class="tabs">
	<span class="tab active"><span>组织介绍</span></span>
	<span class="tab"><span>组织架构</span></span>
</div>
<div class="listbox">
	<div class="box summary active">
		<div class="box_ ">
			<p>金清镇下辖65个行政村，1个社区，户籍人口10.7万人，其中党员3864名。设有金清镇机关党委、金清港社区党委、卷桥联合党委、下梁联合党委、三友控股集团有限公司党委等5个党委，1个党总支，143个党支部，其中村党支部65个、机关支部5个、事业单位支部6个、老干部支部1个、两新党组织43个，特色小镇党组织1个，建有7个区域性、枢纽型党群服务中心。</p>
			<p>近年来，镇党委把“两学一做”学习教育作为龙头任务，把“整乡推进、整县提升”作为核心抓手，拉高标杆、补齐短板，聚焦主业、狠抓落实，实现了党建经济相融互动、同频共振。自“两学一做”学习教育工作启动以来，镇党委紧紧围绕“学、做、改”这一主线，牢固树立“深学、实做、真改”的工作理念，突出抓好“两学一做”学习教育的动员部署、分类指导、专题党课、精准补短、专项整改等各项工作，吹响“两学一做”学习教育“集结号”，取得了良好成效。谋划党建“双强”示范点，以白剑线为主轴，依托西部红色长廊、中部党建服务、东部海洋文化等三条特色线路，深入打造“三位E体”党建示范带。注重“两新”组织党建，成立台州游艇小镇党支部，进一步凝聚“两新”组织向心力，深入推动小镇在重大项目建设、产业集聚升级、“产城人文”一体发展上取得实效。</p>
		</div>
	</div>
	<div class="town box hidden">
		<!--小镇党委-->
		<div class="box_ or">
			<div class="lists">
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<!--<div class="tri down"></div>-->
						<div class="tri-left structure3"></div>
						<div class="name1">支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						{volist name="list" id="lo"}
						<a class="name2 limit" href="{:Url('Structure/detail?pid='.$lo['id'])}">{$lo.name}<span class="rt sj"></span></a>
						{/volist}
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->
			</div>
		</div>

		<!--/小镇党委-->
	</div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
$(function(){
	//组织架构切换
	slide();
	$(function(){
		//tab值记录
		tabRecord('.tab' ,'.box');
		//tab切换
		tabSwitch('.tab' ,'.box');
		//上拉加载
	});
});
function slide(){
	$('.lists .party1' ).on('click',function(){
		var it = $(this);
		var detail = it.next('.detail1' );
		if(detail.hasClass('down')){
			detail.slideUp();
			it.find('.tri').removeClass('toup').addClass('todown');
		}else{
			detail.slideDown();
			it.find('.tri').removeClass('todown').addClass('toup');
		}
		detail.toggleClass('down');
	});
}
</script>
{/block}