{extend name="public/common"}

{block name="style"}
<title>云上组织</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/banner/1.jpg" alt="组织架构banner" class="banner-img">
</div>
<div class="listbox">
	<div class="town box">
		<!--小镇党委-->
		<div class="box_ or">
			<div class="lists">
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<div class="tri-left structure1"></div>
						<!--<div class="tri down"></div>-->
						<div class="name1">协会</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<!--<div class="tri down"></div>-->
						<div class="tri-left structure3"></div>
						<div class="name1">分支</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会环境遥感分会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会专家委员会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会光学遥感专业委员会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会灾害遥感分会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会国土资源遥感分会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会标准化分会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会商业遥感卫星应用专业委员会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会国际合作委员会<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('activity/index?c=0')}">中国遥感应用协会科学普及分会<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->
			</div>
		</div>

		<!--/小镇党委-->
	</div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<!--<script src="/home/js/jquery.lazyload.min.js"></script>-->
<script>
</script>
{/block}